body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .registration-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
  
  .registration-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  #registration-form div {
    margin-bottom: 15px;
    text-align: left;
  }
  
  #registration-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  #registration-form input[type="text"],
  #registration-form input[type="password"],
  #registration-form input[type="email"] {
    width: calc(100% - 20px); /* to account for the padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #registration-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #registration-form button:hover {
    background-color: #45a049;
  }
  
  #registration-message {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
  }
  
  .popup.success {
    background-color: #28a745; /* verde per successo */
  }
  
  .popup.error {
    background-color: #dc3545; /* rosso per errore */
  }
  
  .popup.show {
    display: block;
  }
  