/* Imposta lo stile del body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Colore di sfondo di backup */
    background-image: url('https://cdn.pixabay.com/photo/2020/09/17/12/37/sunset-5579054_1280.jpg');
    background-size: cover;
    background-position: 75% center; /* Sposta l'immagine del 75% verso destra */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Stile per la navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.7) !important;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease;
}

.navbar:hover {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.navbar-nav .nav-link,
.navbar-nav .nav-item > a {
    color: #000000 !important; /* o il colore che preferisci */
    text-decoration: none !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item > a:hover {
    color: #ffffff !important; /* colore per l'hover, cambialo se necessario */
    text-decoration: none !important;
}

/* Stile per gli h1 e h2 */
h1, .section h2 {
    color: red;
    text-align: center;
}

#adminContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin: 20px 0;
    width: 100%;
    max-width: 1200px;
}

.section h2 {
    margin-bottom: 10px;
    color: red;
}

.blue-flag {
    width: 60%;
    height: 50px;
    margin: 10px auto;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff !important; /* Colore del testo blu */
    background: rgba(255, 255, 255, 0.0) !important; /* Sfondo bianco con 50% di trasparenza */
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #0044cc !important; /* Bordo blu */
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

.blue-flag:hover {
    background: #0044cc !important; /* Sfondo blu al passaggio del mouse */
    color: #fff !important; /* Testo bianco al passaggio del mouse */
}


/* Stile per le card delle barche */
#boats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Spazio tra le card */
    padding: 15px; /* Spazio interno al contenitore */
    box-sizing: border-box; /* Include padding e border nel calcolo della larghezza */
}

.boat-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 150px
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); /* Colore di sfondo bianco con 50% di trasparenza */
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 150px; /* Imposta una larghezza minima per la card */
    margin-top: 100px; /* Puoi regolare il valore in base a quanto vuoi spostare in basso */
}

@media (max-width: 1200px) {
    .boat-card {
        width: calc(25% - 30px); /* Quattro card per riga */
    }
}

@media (max-width: 768px) {
    .boat-card {
        width: calc(33.33% - 30px); /* Tre card per riga */
    }
}

@media (max-width: 480px) {
    .boat-card {
        width: calc(50% - 30px); /* Due card per riga */
    }
}

@media (max-width: 360px) {
    .boat-card {
        width: calc(100% - 30px); /* Una card per riga */
    }
}

.boat-card:hover {
    transform: scale(1.02);
}

.boat-image {
    width: 100%;
    height: 120px; /* Ridotto per rendere l'immagine più piccola */
    object-fit: cover;
    border-radius: 8px;
}

.boat-details {
    padding: 8px 0; /* Ridotto per una card più compatta */
}

.boat-price {
    font-weight: bold;
    margin-top: 8px;
}

.flags {
    display: flex;
    gap: 8px;
}

.flag {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.green-flag {
    width: 60%; /* Imposta la larghezza al 60% come per .blue-flag */
    height: 50px;
    margin: 10px auto; /* Margine automatico per centrare il pulsante */
    justify-content: center; /* Centra il testo orizzontalmente */
    display: flex; /* Utilizza Flexbox per centrare il testo */
    align-items: center; /* Centra il testo verticalmente */
    color: #fff; /* Colore del testo verde */
    background: #28a745; /* Sfondo bianco */
    font-size: 1em; /* Dimensione del testo */
    font-weight: bold; /* Peso del testo */
    text-decoration: none; /* Rimuove la sottolineatura del testo */
    border: 2px solid #28a745; /* Bordo verde */
    border-radius: 5px; /* Raggio degli angoli arrotondati */
    transition: .2s ease-in; /* Transizione per il colore di sfondo */
    cursor: pointer; /* Mostra il cursore a forma di mano */
}

.green-flag:hover {
    background: #28a745; /* Sfondo verde al passaggio del mouse */
    color: #0044cc; /* Testo bianco al passaggio del mouse */
    border-color: #0044cc; /* Colore del bordo verde al passaggio del mouse */
}

/* Stile per la lista degli utenti */
#users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center; /* Centra la lista degli utenti orizzontalmente */
}

/* Stile per ogni card utente */
.user-card {
    background-color: #fff; /* Imposta lo sfondo a bianco */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px; /* Imposta una larghezza fissa per le card */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    opacity: 1; /* Assicura che l'opacità sia completamente opaca */
}

/* Stile per il contenuto della card */
.user-card-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Stile per il pulsante di eliminazione */
.delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.delete-button:hover {
    background-color: #c62828;
}

.reservations-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Spazio tra le card */
    padding: 15px; /* Spazio interno al contenitore */
    box-sizing: border-box; /* Include padding e border nel calcolo della larghezza */
}

/* Card per le prenotazioni */
.reservation-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(20% - 30px); /* Cinque card per riga su schermi più grandi */
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-width: 200px; /* Imposta una larghezza minima per la card */
}

/* Adatta le card per schermi più piccoli */
@media (max-width: 1200px) {
    .reservation-card {
        width: calc(25% - 30px); /* Quattro card per riga */
    }
}

@media (max-width: 768px) {
    .reservation-card {
        width: calc(33.33% - 30px); /* Tre card per riga */
    }
}

@media (max-width: 480px) {
    .reservation-card {
        width: calc(50% - 30px); /* Due card per riga */
    }
}

@media (max-width: 360px) {
    .reservation-card {
        width: calc(100% - 30px); /* Una card per riga */
    }
}

.reservation-card:hover {
    transform: scale(1.02);
}

.reservation-image {
    width: 100%;
    height: 120px; /* Ridotto per rendere l'immagine più piccola */
    object-fit: cover;
    border-radius: 8px;
}

.reservation-details {
    padding: 8px 0; /* Ridotto per una card più compatta */
}

.reservation-price {
    font-weight: bold;
    margin-top: 8px;
}

/* Stile per il contenitore delle prenotazioni */
#reservations-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Spazio tra le card */
    padding: 15px; /* Spazio interno al contenitore */
    box-sizing: border-box; /* Include padding e border nel calcolo della larghezza */
}

/* Stile per ogni card di prenotazione */
.reservation-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(20% - 30px); /* Cinque card per riga su schermi più grandi */
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0,
    ChatGPT
    0.1);
    min-width: 200px; /* Imposta una larghezza minima per la card */
    margin-top: 20px;
}

.reservation-card
{
    transform: scale(1.02);
}

.reservation-details {
    padding: 8px 0;
}

.reservation-price {
    font-weight: bold;
    margin-top: 8px;
    color: #28a745;
}

.table-container {
    width: 100%;
    margin-top: 100px;
    overflow-x: auto;
}

.boat-table {
    width: 100%;
    border-collapse: collapse;
}

.boat-table th, .boat-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.boat-table th {
    background-color: #f2f2f2;
}


.boat-table tr
{
    background-color: #f1f1f1;
}

